<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title><%= @client %> <%= @project %> Styles</title>
		
		<meta charset="UTF-8" />
		<meta name="viewport" content="initial-scale=1.0, width=device-width" />
		
		<link href="css/html5reset.css" rel="stylesheet" type="text/css" />
		<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="css/stylesheet.css" rel="stylesheet" type="text/css" />
		<link href="img/favicon.png" rel="Shortcut Icon" />
		
		<script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
		<script src="js/bootstrap.min.js" type="text/javascript"></script>
		
		<!--[if lte IE 8]><script src="js/html5.js" type="text/javascript"></script><![endif]-->
	</head>
	<body>
		<header class="navbar navbar-fixed-top">
			<nav class="navbar-inner">
			  <div class="container">
  			  <a class="brand"><%= @client %> <%= @project %></a>
  				<ul class="nav">
  					<li class="active"><a href="#">Styleguide</a></li>
  					<li><a href="resources.html">Dev Resources</a></li>
  				</ul>
			  </div>
			</nav>
		</header>
		<div class="container main-content ">
		  <div class="span3 left-menu affix-top affix">
		    <ul class="nav nav-tabs tablet-no-affix nav-stacked span3 ">
	      <% @sections.each do |s| %>
		      <li class="<%= concatenate_section(s) %>"><a href="#<%= concatenate_section(s) %>"><%= s.capitalize %></a></li>
	      <% end %>
		      <li class="layout"><a href="#layout">Layout</a></li>
		    </ul>
		    <h6 class="timestamp">Last Updated: <%= @timestamp %></h6>
		  </div>
		  <div class="span9 offset3">
  		  
  		<% @sections.each do |s| %>  
  		  <!-- <%= s.capitalize %> -->
  		  <section id="<%= concatenate_section(s) %>">
  		    <h1><%= s.capitalize %></h1>
  		    <h3>Subtitle</h3>
  		    <div class="example" style="margin-top: 30px;">
    		    <!-- Write your HTMl in here, then style it in the stylesheet! -->
  		    </div>
  		    <div id="<%= concatenate_section(s) %>-name-code-button" class="code-button btn code-open">Hide CSS <span class="arrow"></span></div>
  		    <span class="datestamp"><%= @timestamp %></span>
    		  <pre id="<%= concatenate_section(s) %>-name-code" class="show">
# Any code you have should go here.

# You can span multiple lines, just make sure you start without indentation
</pre>
  		  </section>
  		<% end %>
  		  
  		  <!-- Layout -->
  		  <section id="layout">
  		    <h1>Layout</h1>
  		    <img src="img/your-layout-image.png">
  		  </section>
		</div>
		<script src="js/scripts-min.js" type="text/javascript"></script>
	</body>
</html>